.merchant.header {

  .nav-header {
    border-bottom: 1px solid #E4A955;
    padding: 7px 0px 7px 0px;
  }

  .appointment-border {
    border: 1px solid #B0344E;
    padding: 7px 15px 7px 15px;

    &:hover {
      border-color: #848484;
    }
  }

  .btn-buy {
    color: #F0F0F0 !important;
    background-color: #E4A955;
    border-color: #E4A955;
    border-radius: 50%;
    padding: 5px;
    font-size: 9px;
    letter-spacing: 2.4px;
    font-family: 'brandon-reg';
    margin-right: 5%;

    &:hover {
      color: #E4A955 !important;
      background-color: white;
      border: 1px solid #E4A955;
      transition: 0.2s;
    }

    &:focus {
      color: #848484 !important;
      background-color: white;
      border: 1px solid #848484;
    }
  }

  .padding-points {
    padding-top: 9px;
    padding-left: 5px;
  }

  .padding-bookings {
    padding-top: 9px;
    padding-left: 15px;
    padding-bottom: 15px;
  }

}
