.booking-success {

  .success-container {
    background-color:  #B0344E;
    margin-bottom: 4%;
  }

  .confirmed-text:before {
    content: "";
    position: absolute;
    width: 8%;
    height: 1px;
    bottom: 0;
    left: 46%;
    border-bottom: 1px solid #E4A955;
  }

  .code-settings {
    border: 1px solid #F3F3F3;
    padding: 15px;
  }

  .confirmed-padding {
    padding-top: 10%;
    margin: 0;
  }

  .success-padding {
    padding-top: 14%;
    padding-bottom: 4%;
  }

  .time-padding {
    padding-top: 17%;
    padding-bottom: 6%;
  }

  .success-info {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .btn-view {
    color: #F0F0F0;
    background-color: #E4A955;
    border-color: #E4A955;
    border-radius: 0px;
    padding: 15px 70px;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-family: 'brandon-reg';
    margin-top: 3%;
    margin-bottom: 25%;

    &:focus {
      outline: none;
    }
  }

  .view-padding {
    padding-top: 8%;
  }

  .mobile {
    display: none;
  }
}

@media all and (max-width: 767px) {
  .booking-success {
    .appt-title.alignment {
      padding-left: 10%;
      float: none !important;
      padding-bottom: 0;
    }

    .appt-info.alignment {
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 0;
      margin: 0;
    }

    .arrival-text.alignment {
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 0;
      margin: 0;
    }

    .desktop {
      display: none;
    }
  }
}
