.dashboard {

  /* Current appointment */

  img {
  max-width: 180px;
  min-height: 200px;
  width: 100%;
  }

  .alignment {
    text-align: right;
  }

  .current-panel-header {
    background-color: #B0344E;
    border-radius: 0px;
  }

  .btn-panel {
    color: #F0F0F0;
    background-color: #E4A955;
    border-color: #E4A955;
    border-radius: 0px;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-family: 'brandon-reg';
  }

  .btn-alignment {
    margin-top: 10%;
    margin-bottom: 30%;
  }

  .panel-background {
    background-color: #FBFBFB;
  }

  .no-padding {
    padding-left: 0px;
    padding-right: 0px;
  }

  .no-border {
    border: none;
  }

  .current-panel-padding {
    padding-left: 7%;
    padding-right: 4%;
    padding-bottom: 7%;
  }

  .padding-left-5 {
    padding-left: 5%;
  }

  .margin-top-8 {
    margin-top: 8%;
  }

  .booking-link {
    text-decoration: none;

    &:hover {
      color: #848484;
    }

    &:focus {
      color: #B0344E;
    }
  }

/* Previous appointment */

  .fa.red {
    color: #B0344E !important;
  }

  .icon-padding {
    padding-right: 3vmax;
  }

  .panel-header {
    background-color: #ECECEC;
    border-radius: 0px;
    border-color: #ECECEC;
  }

  .prev-panel-padding {
    padding-top: 4%;
    padding-left: 8.5%;
    padding-bottom: 4%;
    line-height: 113%;
  }

  .prev-panel-text {
    padding-bottom: 3%;
  }

  .content-scroll {
    height: 400px;
    overflow-y: scroll;
  }

  .padding-bottom-1 {
    padding-bottom: 1%;
  }

/* Profile Details */

  .margin-top-4 {
    margin-top: 4%;
  }

  .btn-save {
    color: #B0344E;
    background-color: #FBFBFB;
    border-color: #B0344E;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-family: 'brandon-reg';
    border-width: 1.5px;

    &:hover {
      color: #848484;
      transition: 0.2s;
      border-color: #848484;
    }

    &:focus {
      outline: none;
    }
  }

  .form-control {
    border-radius: 0px;
    border-color: #E4A955;
    color: #848484;

    &:focus {
      border-color: #848484;
      box-shadow: none;
    }
  }

  .mobile-border {
    border: none;
    background-color: #FBFBFB;
    color: #848484;
  }

  .btn-logout {
    color: #F0F0F0;
    background-color: #B0344E;
    border-color: #B0344E;
    border-radius: 0px;
    padding: 25px 60px;
    font-size: 16px;
    letter-spacing: 2.4px;
    font-family: 'brandon-reg';

    &:focus {
      outline: none;
    }
  }

  .btn-arrow {
    color: #F0F0F0;
    background-color: #B0344E;
    border-color: #B0344E;
    border-radius: 0px;
    padding: 26px 33px;

    &:focus {
      outline: none;
    }
  }

  .margin-logout {
    margin-bottom: 30%;
    margin-top: 10%;
  }

  .margin-arrow {
    margin-bottom: 30%;
    margin-left: 1px;
    margin-top: 10%;
  }

  .edit-background {
  background-color: #FBFBFB;
  }

  .padding-top-1 {
    padding-top: 1%;
  }

}

@media all and (max-width: 767px) {
  .dashboard {
    .mobile {
      text-align: center;
      padding-top: 3%;
    }

    .alignment {
      text-align: center;
    }
  }
}
