.landing {


  .hero-unit {
    height: 80vh;
    width: 100%;

    .slogan {
      padding-top: 3%;
    }
  }

  .hero-unit:before {
    content: ' ';
    background-image:image-url("landing_banner.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: .3;
    height: 60vh;
    position: absolute;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .hero-rm-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }

  .btn-find {
    color: #FFFFFF;
    background-color: #E4A955;
    border-color: #E4A955;
    border-radius: 0px;
    padding: 25px;
    font-size: 14px;
    letter-spacing: 1.9px;
    font-family: 'brandon-reg';
  }

  .dropdown-styling {
    background-color: #B0344E !important;
    border-radius: 0px;
    border-color: #B0344E;
    padding: 25px;
    color: #FFF;
    font-size: 14px;
    letter-spacing: 1.9px;
    font-family: 'brandon-reg';

    &:focus {
      color: white;
    }
  }

  .dropdown-list {
    background-color: #B0344E;
    width: 100%;
    border-radius: 0px;
    font-size: 14px;
    color: #FFF;
    letter-spacing: 1.9px;

    a {
      color: white;
      padding: 3%;
    }
  }

  .dropdown-menu li a:hover, .dropdown-menu li a:focus {
    color: white;
    background-color: #E4A955;
    transition: 0.3s;
  }

  .dropdown-padding {
    padding-top: 35px;
  }

  .margin-left-4 {
    margin-left: 4%;
  }
}
