.payment-success {

  .container-fluid {
    background-color: #B0344E;
    margin-bottom: 2%;
  }

  .bookings-border {
    border: 1px solid #F3F3F3;
    padding: 5px;
  }

  .payment-success-padding {
    padding-top: 7%;
    padding-bottom: 5%;
  }

  .bookings-padding {
    padding-bottom: 1%;
  }

  .bought-padding {
    padding-top: 7%;
  }

  .price-padding {
    padding-bottom: 5%;
  }

}
