.pricing {

  .pricing-container {
    background-color: #B0344E;
    margin-bottom: 4%;
  }

  .plan-padding {
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .no-padding {
    padding: 0px;
  }

  .btn-buy {
    border-radius: 0px;
    background-color: #E4A955;
    font-family: 'brandon-reg';
    font-size: 16px;
    color: #F3F3F3;
    letter-spacing: 2.4px;
    padding: 15px;
    position: absolute;
    bottom: 0;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: #e7b266;
      transition: 0.3s;
    }
  }

  .pricing-card {
    border-radius: 0px;
    background-color: #F8F8F8;
    border: none;
    margin-bottom: 25px;
    height: 300px;
  }

  hr {
    width: 20%;
    border: 1.5px solid #E4A955;
    opacity: 0.4;
  }

  .title-padding {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .description-padding {
    padding: 20px 10px 70px 10px;
  }

}
