#signup-success {

  .success-mobile {
    display: none;
  }

  hr {
    border-color: #E4A955;
    width: 40%;
  }

  .line-container {
    .line {
      height: 15vh;
      border-left: 1px solid #B0344E;
    }
  }

  .message {
    .circle {
      padding-top: 70px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 auto;
      background-color: #B0344E;
      text-align: center;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .account-hover {
    text-decoration: none;

    &:hover {
      color: #848484;
    }

    &:focus {
      border-bottom: #848484;
      text-decoration: none;
    }
  }
}

@media all and (max-width: 767px) {
  #signup-success {
    .desktop {
      display: none;
    }

    .success-mobile {
      padding-top: 150px;
      display: block;
      color: #B0344E !important;
    }
  }
}
