@font-face {
  font-family: 'brandon-med';
  src: asset-url('Brandon_med.otf');
}

@font-face {
  font-family: 'brandon-light';
  src: asset-url('Brandon_light.otf')
}

@font-face {
  font-family: 'brandon-bold';
  src: asset-url('Brandon_bld.otf')
}

@font-face {
  font-family: 'brandon-reg';
  src: asset-url('Brandon_reg.otf')
}

.slogan-main {
  font-family: 'brandon-bold';
  font-size: 4.2vmax;
  letter-spacing: 0.31px;
  color: #000000;
}

.punchline {
  font-family: 'brandon-reg';
  font-size: 4vmin;
  letter-spacing: 2px;
  color: #000000;
}

.footer-main {
  font-family: 'brandon-med';
  font-size: 12px;
  letter-spacing: 2.4px;
  color: #B0344E;
}

.footer-sub {
  font-family: 'brandon-light';
  font-size: 12px;
  color: #848484;
  letter-spacing: 2.4px;
}

.email-font {
  font-family: 'brandon-light';
  font-size: 12px;
  color: #B0344E !important;
  letter-spacing: 2.4px;
}

.red-text {
  font-family: 'brandon-light' !important;
  font-size: 12px;
  color: #B0344E !important;
  letter-spacing: 1.5px;
}

.copyright-font {
  font-family: 'brandon-light';
  font-size: 11px;
  letter-spacing: 2.4px;
  color: #F2F2F2;
}

.copyright-link {
  font-family: 'brandon-light';
  font-size: 11px;
  letter-spacing: 2.4px;
  color: #F2F2F2;
  text-decoration: none;
  border-right: 1px solid #F2F2F2;
  padding-right: 1%;
  margin-right: 1%;
  line-height: 70%;
}

.current-panel-title {
  font-family: 'brandon-reg';
  font-size: 16px;
  color: #f0f0f0;
  letter-spacing: 2.4px;
  padding-left: 7%;
}

.prev-panel-title {
  font-family: 'brandon-reg';
  font-size: 16px;
  color: #B0344E;
  letter-spacing: 2.4px;
  padding-left: 7%;
}

.header-name {
  font-family: 'brandon-med';
  font-size: 12px;
}

.edit-profile {
  font-family: 'brandon-med';
  font-size: 14px;
  color: #848484;
  letter-spacing: 2.4px;
}

.prev-booking-title {
  color: black;
  font-size: 14px;
  font-family: 'brandon-med';
  letter-spacing: 2.4px;
  padding-top: 3%;
}

.current-appt-code {
  border-radius: 0px;
  background-color: #FBFBFB;
  color: #848484;
  font-family: 'brandon-reg';
  font-size: 14px;
  letter-spacing: 2.4px;
}

.current-appt-title {
  border-radius: 0px;
  background-color: #FBFBFB;
  color: #B0344E;
  font-family: 'brandon-med';
  font-size: 14px;
  letter-spacing: 2.4px;
  padding-top: 7%;
}

.current-appt-text {
  font-family: 'brandon-light';
  color: #848484;
  font-size: 14px;
  letter-spacing: 2.4px;
}

.code-text {
  font-family: 'brandon-reg';
  font-size: 14px;
  letter-spacing: 2.4px;
  color: #B0344E;
}

.view-booking {
  font-family: 'brandon-reg';
  color: #B0344E;
  letter-spacing: 2.4px;
  font-size: 15px;
}

.no-appt-title {
  font-size: 14px;
  font-family: 'brandon-reg';
  color: #B0B0B0;
  letter-spacing: 2.4px;
}

.edit-body {
  border-radius: 0px;
  background-color: #FBFBFB;
  color: #B0B0B0;
  font-family: 'brandon-med';
  font-size: 14px;
  letter-spacing: 2.4px;
  padding-top: 7%;
}

.edit-field {
  border-radius: 0px;
  background-color: #FBFBFB;
  color: #848484;
  font-family: 'brandon-light';
  font-size: 14px;
  letter-spacing: 2.4px;
}

.prev-panel-body {
  color: #848484;
  font-size: 14px;
  font-family: 'brandon-light';
  letter-spacing: 2.4px;
}
