@font-face {
  font-family: 'brandon-med';
  src: asset-url('Brandon_med.otf');
}

@font-face {
  font-family: 'brandon-light';
  src: asset-url('Brandon_light.otf')
}

@font-face {
  font-family: 'brandon-bold';
  src: asset-url('Brandon_bld.otf')
}

@font-face {
  font-family: 'brandon-reg';
  src: asset-url('Brandon_reg.otf')
}

.slogan-main {
  font-family: 'brandon-bold';
  font-size: 4vmax;
  letter-spacing: 0.31px;
  color: #000000;
}

.punchline {
  font-family: 'brandon-reg';
  font-size: 4vmin;
  letter-spacing: 2px;
  color: #000000;
}

.footer-main {
  font-family: 'brandon-med';
  font-size: 12px;
  letter-spacing: 2.4px;
  color: #B0344E;
}

.footer-sub {
  font-family: 'brandon-light';
  font-size: 12px;
  color: #848484;
  letter-spacing: 2.4px;
}

.email-font {
  font-family: 'brandon-light';
  font-size: 12px;
  color: #B0344E !important;
  letter-spacing: 2.4px;
}

.copyright-font {
  font-family: 'brandon-light';
  font-size: 11px;
  letter-spacing: 2.4px;
  color: #F2F2F2;
}
