.preview {

	.salon-image {
    width: 100%;
  }

  .carousel-inner{
    width:100%;
    max-height: 500px !important;
    margin-bottom: 50px;
  }

  .carousel-indicators {
    bottom: -50px;
  }

  .info-padding {
    padding-bottom: 9%;
  }

  .title-padding {
    padding-right: 5%;
  }

  .info-title.settings {
    float: right !important;
  }

  .area-padding {
    padding-bottom: 10%;
  }

  .carousel-indicators li {
  background-color: #B0344E;
  border-color: #B0344E;
  }
  .carousel-indicators .active {
    background-color: #E4A955;
    border-color: #E4A955;
  }

	.mobile {
    display: none;
  }

	.padding-bottom-15 {
		padding-bottom: 15%;
	}

}

@media all and (max-width: 767px) {
  .preview {
    .info-title.settings {
      padding-left: 10%;
      padding-right: 10%;
      float: none !important;
    }

    .info-details.settings {
      padding-left: 10%;
      padding-right: 10%;
    }

    .desktop {
      display: none;
    }
  }
}
