- if current_user && current_user.try(:activated?)
  = render partial: "merchants/shared/partials_header/header_logged_in"
- else
  = render partial: "merchants/shared/partials_header/header_logged_out"
