.faq {

  .hero-unit {
    height: 55vh;
    width: 100vw;
    margin-bottom: 2%;
    background-image:image-url("FAQ.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 30% 43%;
    display: table;
    position: relative;

    .slogan {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .container-fluid {
    margin-bottom: 2%;
  }

  .fa.red {
    color: #B0344E !important;
  }

  .icon-padding {
    padding-right: 3vmax;
  }

  .faq-panel-header {
    background-color: #ECECEC;
    border-radius: 0px;
    border-color: #ECECEC;
    margin-top: 20px;
  }

  .how-it-works-link {
    color: #B0344E;
    text-decoration: none;
    border-bottom: 1px solid #B0344E;

    &:hover {
      color: #848484;
      border-bottom: 1px solid #848484;
    }

    &:active {
      color: #848484;
      border-bottom: 1px solid #848484;
    }
  }

  .faq-panel-padding {
    padding-top: 4%;
    padding-left: 8.5%;
    padding-bottom: 4%;
    border-radius: 0px;
  }

  .no-border {
    border: none;
  }

}
