.terms {

  .condition-padding {
    padding-top: 3%;
  }

  .padding-left-20 {
    padding-left: 20px;
  }

  .agreement-padding {
    padding-bottom: 30px;
  }

  .bottom-padding {
    padding-bottom: 10%;
  }

  .terms-padding {
    padding-top: 10%;
  }

}
