.header {
  width: 100%;
  padding-bottom: 2%;

  /* View Specific Overrides */

  .navbar-nav li a {
    color: #B0344E;
  }

  .padding-top-9 {
    padding-top: 9px;
  }

  .navbar-right {
    margin-right: -40px;
  }

  #navbar {
    .mobile {
      display: none;
    }
  }

  .active {
    color: #848484 !important;

    &.sign-up {
      border-color: #848484;
    }

    &.salon-owner {
      border-color: #848484;
    }
  }

  .navbar-toggle {
    margin-top: 21px;
    border: none;

    &:hover {
      background-color: #B0344E;
      transition: 0.2s;

      span.icon-bar {
        background-color: white !important;
      }
    }

    &:focus {
      background-color: #E9E9E9 !important;

      span.icon-bar {
        background-color: white !important;
      }
    }
  }

  span.icon-bar {
    height: 4px;
    width: 30px;
    background-color: #E4A955 !important;
  }

  .navbar {
    margin-bottom: 0px;
    background-color: #FFF;
    border-color: #FFF;
  }

  .center {
    text-align: center;
  }

  .center-align {
    align-items: center;
    justify-content: center;
    padding-top: 55px;
  }

  .underline {
    border-bottom: 1px solid #B0344E;
    padding: 7px 0px 7px 0px;
  }

  .header-alignment {
    padding-top: 6%;
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .border-outline {
    border: 1px solid #E4A955;
    padding: 7px 15px 7px 15px;
  }

  .alignment {
    padding: 7px 45px 7px 15px;
  }


  .red {
    font-family: 'brandon-light' !important;
    font-size: 12px;
    letter-spacing: 1.5px;

    &:hover {
      color: #848484 !important;
      border-color: #848484;
    }

    &:active {
      color: #848484 !important;
    }
  }

  .navbar-brand {
    &.mobile {
      display: none;
      margin-bottom: 8%;
    }

    &.desktop {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      padding-top: 4%;
      margin: 0 auto !important;
    }
  }

  .logo-size {
    width: 60px;
    height: 60px;
  }
}

@media all and (max-width: 1100px) {
  .header {
    .navbar-brand {

      &.mobile {
        display: block;
      }

      &.desktop {
        display: none;
      }
    }
    #navbar {
      .mobile {
        display: block;
      }

      .desktop {
        display: none;
      }
    }
  }
}
